@import 'assets/scss/index.scss';

#intro {
  height: 100%;
  .intro--banner {
    opacity: 0;
    display: block;
    width: 100%;
    height: auto;
    animation: fadeIn .5s ease 1 forwards;
    -webkit-animation: fadeIn .5s ease 1 forwards;

  }

  @media screen and (max-height: $small) {
    .intro--banner {
      width: 70%;
      margin: 0 auto;
    }
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
  }

  h1 {
    opacity: 0;
    color: white;
    font-size: 2.6em;
    animation: fadeIn .5s ease .1s 1 forwards;
    -webkit-animation: fadeIn .5s ease .1s 1 forwards;
  }

  h2 {
    font-family: fivo_sans_modernregular;
    font-size: 1.2em;
    line-height: 1.2em;
    text-transform: initial;
    text-align: left;
    opacity: 0;
    color: white;
    animation: fadeIn .5s ease .2s 1 forwards;
    -webkit-animation: fadeIn .5s ease .2s 1 forwards;
  }
  @media screen and (max-height: $small) {
    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
    }
  }

  .btn {
    opacity: 0;
    animation: fadeIn .5s ease .3s 1 forwards;
    -webkit-animation: fadeIn .5s ease .3s 1 forwards;
}
}
