@import 'assets/scss/index.scss';

.card {
  &--illu {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 50%;
  }

  &--pricetag {
    width: 100px;
    #element_price {
      fill: $blue;
    }
  }

  &--info {
    position: absolute;
    top: 3vw;
    right: 3vw;

    > div {
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;

      > div {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div {
          

          span {
            display: block;
          }
        }
      }
    }
  }

  &--views {
    img {
      vertical-align:middle;
      max-width: 25px;
      margin-right: 5px;
    }
  }

  /* PREMIUM */
  .premium {
    .card--tag {
      background: $orange;
      border-radius: 3px;
      width: fit-content;
      padding: 4px;
      color: $white;
    }
    .card--pricetag {
      #element_price {
        fill: $orange;
      }
    }
  }
}
