@use "assets/scss/index.scss";

#narration {
    position: relative;
    text-align: left;
    .narration {
        &--container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        &--quote {
            text-align: center;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            >span {
                font-size: 5em;
                font-family: fivo_sans_modernextra_black;
                margin-bottom: -15px;
            }
        }
    }

    .bold {
        font-family: fivo_sans_modernregularbold;
    }

    h3.loosing-skill {
        margin: 20px 0;
        font-family: fivo_sans_modernregularbold;
        text-align: center;
    }
}