@import "assets/scss/index.scss";

#narration {
    position: relative;
    text-align: left;
    .narration {
        &--container {
            height: 100%;
        }
        &--quote {
            text-align: center;
            >span {
                font-size: 5em;
                font-family: fivo_sans_modernextra_black;
            }
        }
    }

    h3.loosing-skill {
        margin: 20px 0;
        font-family: fivo_sans_modernregularbold;
        text-align: center;
    }
}