@import "assets/scss/index.scss";

#narration {
    position: relative;
    text-align: left;
    .narration {
        &--quote {
            text-align: center;
            >span {
                font-size: 5em;
                font-family: fivo_sans_modernextra_black;
            }
        }
    }
}