#skill {

    color: white;

    p {
        color: white;

        text-align: center;
    }

    .card--title {
        color: white;
        text-align: center;
    }

    &.container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .skills-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;

        & > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p {
            font-size: 14px;
        }
    }

    .receptacle {
        height: 15vh;
        min-height: 15vh;
        width: 15vh;
        position: relative;
        border-radius: 50% ;
        -webkit-border-radius: 50% ;
        -moz-border-radius: 50% ;
        -ms-border-radius: 50% ;
        -o-border-radius: 50% ;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;

        svg {
            position: absolute;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            animation: spin 25s linear infinite;
            -webkit-animation: spin 25s linear infinite;
}

        circle {
            stroke-width: 6; /* control the dashes width */
            stroke-dasharray: 2, 15; /* control the dashes spacing */
            fill: none;
            stroke: black;
        }

        &.hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            svg {
                animation: spin 10s linear infinite;
                -webkit-animation: spin 10s linear infinite;
            }
        }

        &.selected {
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            -o-transform: scale(0.8);
}
    }
}

@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
  }