@import "assets/scss/index.scss";

.card--question {
  .card {
    &--type:before {
      content: url("../../../assets/img/icons/icon_question.svg");
    }
    &--type:after {
      content: url("../../../assets/img/icons/icon_question.svg");
      transform: rotate(180deg);
    }
  }
}
