#question {
    position: relative;
    .question {
        position: relative;
        width: 300px;
        height: 400px;
    }

    .choices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}