.ads,
.intro,
.profil,
.recap {
  background-color: $blue;
}

.visit,
.question {
  background-color: $orange;
}

.adventure,
.event,
.skill-selection
{
  background-color: $red;
}

.skill {
  background-color: $dark-orange;
}