.ads,
.intro,
.profil {
  background-color: $blue;
}

.visit,
.question,
.recap {
  background-color: $orange;
}

.adventure,
.event
{
  background-color: $red;
}

.skill {
  background-color: $dark-orange;
}