.ads,
.intro,
.profil {
  background-color: $blue;
  -webkit-transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  -ms-transition: 1.5s ease;
  -o-transition: 1.5s ease;
}

.visit,
.question,
.recap {
  background-color: $orange;
  -webkit-transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  -ms-transition: 1.5s ease;
  -o-transition: 1.5s ease;
}

.adventure,
.event,
.skill {
  background-color: $red;
  -webkit-transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  -ms-transition: 1.5s ease;
  -o-transition: 1.5s ease;
}
