/* STRUCTURE COMMUNE DE CARTE */

.card {
  height: 100%;
  width: 100%;
  border-radius: 22px;
  -moz-border-radius: 22px; 
  -webkit-border-radius: 22px;
  box-sizing: border-box;
  flex: 1;
}

/* CAS SPECIFIQUES */

.ads {
  .card--choice,
  .card--choice-separation {
    color: $blue;
  }
}

.visit,
.question {
  .card--choice,
  .card--choice-separation {
    color: $orange;
  }
}

.adventure,
.event {
  .card--choice,
  .card--choice-separation { 
    color: $red;
  }
}

/* CARTE DE FOND */

.background-card {
  background: $white;
  opacity: 0.5;
  left: 0;
  top: 0;
}
  /* CARTE PRINCIPALE */

.card {
  &--main {
    position: relative;
    box-sizing: border-box;
    box-shadow : 5px 5px 0 0 rgba(0,0,0,0.05);
    background-color: $white;
    height: 100%;
    width: 100%;
    padding: 5px;
  }

  &--border {
    box-sizing: border-box;
    height: 100%;
    border-radius: 22px;
    -moz-border-radius: 22px; 
    -webkit-border-radius: 22px;
    border: 1px solid $black;
  }

  &--container {
    box-sizing: border-box;
    height: 100%;
    padding: 0 8vw;
    border-radius: 22px;
    display: flex;
    flex-direction: column;

    >div {
      height: 100%;
    }
  }

  &--content {
    flex: 1;
  }

  &--choice-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}