$mobile-width: 330px;
$mobile-height: 621px;
$mobile-margin: 20px;

@media (min-width: 640px) {

  //
  // APP
  //


  #app-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #app-wrapper {
    width: $mobile-width;
    height: $mobile-height;
  }

  .App {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 10px #3b3b3b;
    overflow: hidden;
  }

  //
  // GLOBAL CHANGE
  //

  .setup, .slide, .end {
    padding: $mobile-margin;
  }

  .layout--profile,
  .layout--header,
  .layout--steps {
    box-sizing: border-box;
    padding: 0 $mobile-margin;
  }

  //
  // SETUP
  //

  .setup {
    #slider {
      width: $mobile-width;
      height: $mobile-height;
    }

    .slide {
      padding: $mobile-margin;
      width: 100%;
      max-height: $mobile-height;

      .profile-generation--recap ul li {
        height: auto;
        width: 70px;
      }

      .intro {
        padding-top: 25px;
        box-sizing: border-box;
      }
      #launch .animation {
        height: 70%;
      }
    }
  }

  //
  // PLAY 
  //

  .animation-stars {
    width: $mobile-width;
    height: $mobile-height;
  }

  #premium--pop-up {
    position: absolute;
    width: $mobile-width;
    height: $mobile-height;
  }
}