#root {
}

#app-container {
  background-color: #1E1E1E;
  height: 100vh;
  width: 100vw;
  display: block;
  box-sizing: border-box;
}

#app-wrapper {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overscroll-behavior: none;
}

.setup, .slide, .end {
  padding: 8vw;
}

.layout--profile,
.layout--header,
.layout--steps {
  box-sizing: border-box;
  padding: 0 8vw;
}

.layout--profile,
.layout--header {
  height: 10%;
}

.layout--steps {
  flex: 1;
}