// * IPHONE XL

// * IPHONE SE
$small: 550px; 

// au dessus de 800px
@media screen and (min-height: 800px) {
    .card--choice {
        font-size: 1.2em;
    }
}

// en dessous de 570px
@media screen and (max-height: 570px) {
    .height {
        &--80 {
          max-height: 80px;
        }
        &--120 {
          max-height: 120px;
        }
        &--150 {
          max-height: 150px;
        }
        &--180 {
          max-height: 180px;
        }
      }
}
@media screen and (max-height: $small) {
  .btn {
    height: 50px !important;
  }
}

