body {
    font-family: fivo_sans_modernregular;
}

.blue {
    color: $blue;
}

.orange {
    color: $orange;
}

.red {
    color: $red;
}

h1, 
.card--title {
    font-family: fivo_sans_modernextra_black;
    font-size: 1.5em;
    color: $black;
    line-height: 1.1em;
    font-weight: 900;
}

h2,
.card--type {
    text-align: center;
    text-transform: lowercase;
    font-family: fivo_sans_modernregularbold;
    font-size: 18px;
    color: $black;
}

p,
.card--text {
    font-size : 16px;
    color : #323232;
    line-height : 20px;
    line-height: 1.25;
}

@media screen and (max-height: $small) {
    p,
    .card--text {
        font-size : 14px;
    }
}

.card--tag {
    text-transform: lowercase;
    font-family: fivo_sans_modernregularbold;
    font-size : 14px;
}

.card--choice {
    font-family: fivo_sans_modernregularbold;
    size : 16px;
    line-height: 1.25;
    text-transform: lowercase;
}

.transition {
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}