.transition {
  .card--border {
    border-color: $white;
  }

  p {
    color: $white;
  }

  &--visit {
    background-color: $dark-orange;

    #profile .card--choice {
      color: $dark-orange;
    }

    .card--main,
    .background-card {
      background-color: $orange;
    }
  }
  &--adventure {
    background-color: $dark-red;

    #profile .card--choice {
      color:  $dark-red;
    }

    .card--main,
    .background-card {
      background-color: $red;
    }
  }
  &--ads {
    background-color: $dark-blue;

    #profile .card--choice {
      color:  $dark-blue;
    }
    .card--main,
    .background-card {
      background-color:$blue;
    }
  }
}
