.profile-generation {
    &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        
        &--item {
            margin: 0 5vh;
        }
    }
}