.profile-generation {
    &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        
        &--item {
            margin: 0 5vh;
        }
    }

   
    .visit {
        position: relative;
        width: 300px;
        height: 400px;
    }
    .intro--info {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 15px;
    }
}