#steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: .2s ease;
  position: relative;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}