#steps {
  display: flex;
  flex: 6;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;

  & > div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}