@import "assets/scss/index.scss";

.ads {
  .card--type {
    display: block;
  }
  &--pricetag {
    width: 100px;
    #element_price {
      fill: $blue;
    }
  }

  .card--tag {
    background: $blue;
    border-radius: 3px;
    width: fit-content;
    padding: 4px;
    color: $white;
  }

  &--info {
    position: absolute;
    top: 3vw;
    right: 3vw;

    > div {
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;

      > div {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div {
          span {
            display: block;
          }
        }
      }
    }
  }

  &--price,
  &--size {
    font-family: fivo_sans_modernregularbold;
    size: 18px;
    color: white;
    letter-spacing: 1px;
  }

  &--views {
    margin-top: 5%;
    img {
      vertical-align: middle;
      max-width: 25px;
      margin-right: 5px;
    }
    p {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* PREMIUM */
.premium {
  .card--tag {
    background: $orange;
    // border-radius: 3px;
    // width: fit-content;
    // padding: 4px;
    // color: $white;
  }
  .ads--pricetag {
    #element_price {
      fill: $orange;
    }
  }
}
