@import "assets/scss/index.scss";

.ads {
  .card--type {
    display: block;
  }
  &--pricetag {
    width: calc(11 * var(--vh));
    #element_price {
      fill: $blue;
    }
  }

  .card--tag {
    border: green;
    position: relative;
    color: $blue;
  }

  &--info {
    position: absolute;
    top: 7vw;
    right: 5vw;

    > div {
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;

      > div {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div {
          span {
            display: block;
          }
        }
      }
    }
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    >div {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
  
  &--size {
    position: relative;
    font-family: fivo_sans_modernextra_black;
    font-size: 3.5vh;
    color: $blue;
    line-height: 3.5vh;
    font-weight: 900;

    &:after {
      content: '2';
      position: absolute;
      top: -5px;
      right: -7px;
      font-size: 50%;
    }
  }

  &--price {
  font-family: fivo_sans_modernregularbold;
    size: 18px;
    color: white;
    letter-spacing: 1px;
  }

  &--views {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
    img {
      vertical-align: middle;
      max-width: 20px;
      margin-right: 12px;
    }
    p {
      vertical-align: middle;
    }
    .available {
      color: green;
    }
    .unavailable {
      color: red;
    }
  }
}

/* PREMIUM */
.premium {
  .card--tag {
    background: $orange;
    border-radius: 3px;
    width: fit-content;
    padding: 4px;
    color: $white;
  }
  .ads--size {
    color: $orange;
  }
  .ads--pricetag {
    #element_price {
      fill: $orange;
    }
  }
}
