.transition--card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .transition--illu {
    display: block;
    max-width: 65%;
    margin: 0 auto;
  }

  .transition--title {
      color: white;
  }
}
