.end {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8vw;
        height: 100%;
        color: white;
    }
    h1 {
        color: white;
        text-align: center;
    }
    h2 { 
        text-align: left;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

.victory {

}

.loose {

}