#end {
    background-color: white;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .end-recap {
        width: 80%;
        margin: 0 auto;
    }
    h1 { 
        text-align: center;
        margin-top: 60px;
    }
    h2 { 
        text-align: left;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}