.recap--narrative {
    p {
        color: white;
    }
    .lowercase {
        text-transform: lowercase;
    }
    .strong {
        font-family: fivo_sans_modernregularbold;
    }
    img {
        position: relative;
        display: block;
        height: auto;
        margin: 0 auto;
    }

    section {
        &:first-of-type {
            .hr {
                img {
                    max-width: 20px;
                }
            }
        }

        .hr {
            position: relative;

            img {
                max-width: 30px;
            }
            
            &:before {
                content: '';
                position: absolute;
                box-sizing: border-box;
                left: 0;
                top: 50%;
                width: 40%;
                height: 1px; 
                background: white;
            }
            &:after {
                content: '';
                position: absolute;
                box-sizing: border-box;
                right: 0;
                top: 50%;
                width: 40%;
                height: 1px; 
                background: white;
            }
        }

        ul {
            margin: 5vh auto;

            li {
                display: inline;

                &:not(:first-child) {
                    text-transform: lowercase;
                }

                &:not(:last-child):after {
                    content: ', '
                }
            }
        }
    }

    .scroll {
        margin: 5vh auto;
        max-width: 20px;
    }
}