.recap--narrative {
    p {
        color: white;
    }
    .lowercase {
        text-transform: lowercase;
    }
    .strong {
        font-family: fivo_sans_modernregularbold;
    }
    img {
        position: relative;
        display: block;
        height: auto;
        margin: 0 auto;
    }

    section {
        .premium {
            img {
                max-width: 20px;
            }
        }

        .rotate {
            img {
                transform: rotate(180deg);
            }
        }

        .hr {
            position: relative;

            img {
                max-width: 30px;
            }
            
            &:before {
                content: '';
                position: absolute;
                box-sizing: border-box;
                left: 0;
                top: 50%;
                width: 40%;
                height: 1px; 
                background: white;
            }
            &:after {
                content: '';
                position: absolute;
                box-sizing: border-box;
                right: 0;
                top: 50%;
                width: 40%;
                height: 1px; 
                background: white;
            }
        }

        ul {
            margin: 5vh auto;

            li {
                display: inline;

                &:not(:first-child) {
                    text-transform: lowercase;
                }

                &:not(:last-child):after {
                    content: ', '
                }
            }
        }
    }

    .cto {
        margin: 5vh auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            text-align: left;
        }        
        .underline {
            text-decoration: underline;
        }
        .chevron {
            margin: 0;
            width: 20px;
            transform: rotate(-90deg)
        }
    }

    &--share {
        margin: 5vh auto;
        ul {
            margin: 5vh auto;
            display: flex;
            justify-content: space-around;
            li {
                width: auto;

                img {
                    width: 100%;
                    max-width: 35px;
                }
            }
        }
    }

    &--about {
        margin: 5vh auto;
        h1 {
            text-align: left !important;
        }
    }

    .scroll {
        margin: 5vh auto;
        max-width: 20px;
    }
}