#skillSelection {
    position: relative;
    
    .skills {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .skill {
        width: 40%;
        margin: 10px;
        border: 1px solid black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &.selected {
            background-color: gray;
        }

        img {
            width: 100px;
        }
    }
}