#skillSelection {
    position: relative;
    
    .skills {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .skill {
        opacity: 0.6;
        width: 40%;
        margin: 10px;

        &.selected {
            transform: scale(1.2);
            opacity: 1;
        }

        img {
            width: 50%;
        }
    }
}