#draggable-skill {
    height: 90px;
    width: 90px;
    background-color: orange;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;


    &.transition {
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }

    .bottom {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        &> div {
            opacity: .5;
            flex: 1;
            transition: .2s ease;
            -webkit-transition: .2s ease;
            -moz-transition: .2s ease;
            -ms-transition: .2s ease;
            -o-transition: .2s ease;
            
            &.selected {
                opacity: 1;
            }
        }
    }


    
}