#adventure {
    position: relative;
    .adventure {
        position: relative;
        width: 320px;
        height: 370px;
    }

    .choices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}