.draggable-skill {
    position: relative;
    min-height: 12vh;
    height: 12vh;
    width: 12vh;
    background-size: cover;
    background-repeat: no-repeat; 
}

.drag {
    animation: drag 5s ease infinite ;
    -webkit-animation: drag 5s ease infinite ;
}
 
@keyframes drag {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    10% {
        transform: translate(10px, -40px);
        -webkit-transform: translate(10px, -40px);
        -moz-transform: translate(10px, -40px);
        -ms-transform: translate(10px, -40px);
        -o-transform: translate(10px, -40px);
}
    20% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    100% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
  }
  