@import "assets/scss/index.scss";

.card--visit {
  .card {
    &--illu--container {
      max-height: 130px;
      margin: 5% 0;
    }
    &--type:before {
      content: url("../../../assets/img/icons/icon_visites.svg");
    }
    &--type:after {
      content: url("../../../assets/img/icons/icon_visites.svg");
    }
    &--tag {
      background: $orange;
      border-radius: 3px;
      width: fit-content;
      padding: 4px;
      color: $white;
    }
  }
}
