@import 'assets/scss/index.scss';

.profile-recap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;

  &--rate {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    .star {
      position: relative;
      width: auto;

      >div {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .score {
          color: $blue;

          strong {
            font-family: fivo_sans_modernextra_black;
            font-size: 25px;

          }
        }
      }
    }

    .small {
      width: 7%;
      transform: rotate(-27deg) translate(-10px, 10px);
      -webkit-transform: rotate(-27deg) translate(-10px, 10px);
      -moz-transform: rotate(-27deg) translate(-10px, 10px);
      -ms-transform: rotate(-27deg) translate(-10px, 10px);
      -o-transform: rotate(-27deg) translate(-10px, 10px);
}   


    .medium ~ .small {
      transform: rotate(27deg) translate(10px, 10px);
      -webkit-transform: rotate(27deg) translate(10px, 10px);
      -moz-transform: rotate(27deg) translate(10px, 10px);
      -ms-transform: rotate(27deg) translate(10px, 10px);
      -o-transform: rotate(27deg) translate(10px, 10px);
}


    .medium {
      width: 15%;
      transform: rotate(-18deg);
      -webkit-transform: rotate(-18deg);
      -moz-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
      -o-transform: rotate(-18deg);
}

    .big ~ .medium {
      transform: rotate(18deg);
      -webkit-transform: rotate(18deg);
      -moz-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
      -o-transform: rotate(18deg);
}

    .big {
      width: 38%;
    }
  }

  &--text p {
    text-align: center;
    color: white;
    font-family: fivo_sans_modernregularbold;
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 8vw;
    line-height: 1.2;
  }

  h2 {
    font-size: 30px;
    font-family: fivo_sans_modernextra_black;
    color: white;
  }

  .lowercase {
    text-transform: lowercase;
  }
}
