@import 'assets/scss/index.scss';

.profile-recap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  &--rate {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    .star {
      position: relative;
      width: auto;

      >div {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .score {
          font-family: fivo_sans_modernextra_black;
          font-size: 25px;
          color: $blue;
        }
      }
    }

    .small {
      width: 7%;
    }
    .medium {
      width: 15%;
    }
    .big {
      width: 25%;
    }
  }

  &--text p {
    text-align: center;
    color: white;
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 8vw;
    line-height: 1.2;
  }

  .lowercase {
    text-transform: lowercase;
  }
}
