#profile {
  display: flex;
  align-items: center;
  justify-content: center;

  .profile {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &--items {
      position: relative;
      height: 40px;
      width: 40px;
      box-sizing: border-box;

      &:first-child {
        max-height: 45px;
        max-width: 45px;
      }

      .round {
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        border-radius: 50%;
        background: white;
        border: solid 1px black;
        box-sizing: border-box;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .score {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 20vw;

      & > * {
        position: absolute;
      }

      p {
        display: block;
        font-size: 15px;
        font-family: fivo_sans_modernextra_black;
        opacity: 1;
        top: -7px;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
      }
    }

    .status .round img {
      position: relative;
      top: 10px;
    }

    .status {
      &:after {
        content: url("../../../assets/img/icons/premium.svg");
        position: absolute;
        top: 0;
        right: -6px;
        max-width: 20px;
        height: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        -ms-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
      }
    }
    .premium {
      &:after {
        animation: premium 1s ease-in 1 normal forwards;
      }
    }

    .origin .round {
      display: flex;
      justify-content: center;
      align-items: center;
  
      p {
        height: 26px;
        font-size: 26px;
      }
    }

    .budget .round {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 70%;
        width: 70%;
      }
    }
  }
}

// & > div {
//   flex: 1;
//   display: flex;
//   justify-content: center;

//   
// }

.bounce {
  animation: pulse 0.5s ease-in 3 forwards;
}

@keyframes pulse {
  0% {
      margin-bottom: 0px;
  }
  20% {
      margin-bottom: 6px;
  }
  40% {
      margin-bottom: 0px;
  }
  100% {
      margin-bottom: 0px;
  }
}

@keyframes premium {
  0% {
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
